.footer{
    background-color:#2F3135;

    &__separator {
        display:flex;
        justify-content: space-between;
        padding:95px 0 95px;
    }
    &__left {
        display:flex;
        align-items:center;
        gap:12px;
    }
    &__text {
    color:#FFF;
    text-decoration: none;
    font-size: 30px;
    line-height: 84px;
    }
}